body{ 
	font: normal 13px/20px Arial, Helvetica, sans-serif; word-wrap:break-word;
	color: #eee;
	background: #353535;
}

#countdown{
	width: 465px;
	height: 112px;
	text-align: center;
	margin: auto;
	padding: 24px 0;
	position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

#timer > span {
  padding-left: 10px;
  font-size:50px;
}